// Glyphicons font path
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// ipad           768px x 1024px
// iphone 6s plus 540px x 960px
// iphone 6s      375px x 667px
// iphone 5s      320px x 568px

// Colors
$brand-primary: #1997e1;
$black: #000;
$white: #fff;
$menu-bar-alert: #1997e1;