@media (min-width: 768px) {
   .navbar-right {
      margin-right: 15px;
   }
}

.navbar-inverse .navbar-nav > li.menu-bar-alert > a {
   color: $menu-bar-alert;
}

.navbar-inverse .navbar-brand {
   color: $menu-bar-alert;
}

.navbar-brand .glyphicon {
   color: $white;
   font-size: 12px;
}

header .container {
   margin-top: 0;
}

.page-header {
   border-bottom: none;
}

@media (min-width: 800px) {
   h1.title-area {
      display: block;
      margin: 0 auto;
      padding: 55px 55px 105px;
      font-family: Cursive;
      font-size: 55px;
      text-align: center;
   }
}
